.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px 24px;
  margin: 8px;
}

.pokemon__details-list {
  list-style: none;
  text-align: left;
  padding-left: 0;
}
