.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  padding: 24px;
}

.pokemon__details-list {
  list-style: none;
  text-align: left;
  padding-left: 0;
}
